<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aFirst"></activity>
        <activity android:name=".jFirst" />
        <activity android:name=".cFirst" />
        <activity android:name=".aPage5" />
        <activity android:name=".aPage4" />
        <activity android:name=".aPage3" />
        <activity android:name=".aPage2" />
        <activity android:name=".aPage1" />
        <activity android:name=".java6" />
        <activity android:name=".java5" />
        <activity android:name=".java4" />
        <activity android:name=".java3" />
        <activity android:name=".java2" />
        <activity android:name=".java1" />
        <activity android:name=".cPage6" />
        <activity android:name=".cPage5" />
        <activity android:name=".cPage4" />
        <activity android:name=".cPage3" />
        <activity android:name=".cPage2" />
        <activity android:name=".cPage1" />
        <activity android:name=".QuizClassStarted" />
        <activity android:name=".splashscreen1" />
        <activity android:name=".ScoreActivity" />
        <activity android:name=".QuizClassActivity" />
        <activity android:name=".category_all" />
        <activity android:name=".cat3" />
        <activity android:name=".cat2" />
        <activity android:name=".cat1" />
        <activity android:name=".addQuestion" />
        <activity android:name=".customPage" />
        <activity android:name=".coursePage" />
        <activity android:name=".profilePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>